<h1>A jugar!</h1>

<form method="post" action="/jugadorAPapel">
	<input type="submit" value="Papel">	
</form>

<b>Opcion Elegida: <%= @opcionJugadorA %></b>
<br>
<b>Opcion Oponente: <%= @opcionJugadorB %></b>
