<h1>A jugar!</h1>

<form method="post" action="/jugadorAPapel">
   <input type="submit" value="Papel">

</form>
<form method="post" action="/jugadorAPiedra">
   <input type="submit" value="Piedra">	
</form>

<form method="post" action="/jugadorATijera">
   <input type="submit" value="Tijera">	
</form>

<b>Opcion Elegida: <%= @opcionJugadorA %></b>
<br>
<b>Opcion Oponente: <%= @opcionJugadorB %></b>
<b>Resultado: <%= @resultado %></b>
<br>

<form method="get" action="/">
   <input type="submit" value="Reset">
</form>
