<style>
   .contenedor{
      border: 3px solid #;
      height: 300px;
   }
</style>

<div class="contenedor">
   <h1>Piedra Papel o Tijera</h1>
   <div class="wraper">
      <form method="post" action="/juego">
	      <input type="submit" value="Iniciar Juego">
      </form>
   </div>
</div>
