<style>
   .contenedor-principal{
      border: 20px solid #3399ff;
      height: 500px;
      text-align: center;
   }

   h1{
      color: #3399ff;
      font-size: 35px;
   }

   .contenedor-boton{
      display: flex;
      justify-content: center;																																																																																																																																												
      align-items: center;
   }
</style>

<div class="contenedor-principal">
   <h1>Piedra Papel o Tijera</h1>
   <div class="contenedor-boton">
      <form method="post" action="/juego">
	      <input type="submit" value="Iniciar Juego">
      </form>
   </div>
</div>
